@use '../../assets/styles/resets';
@import '../../assets/styles/setting';

.Acsions {
    justify-content: center;
    align-items: center;
    position: relative;
    left: 19%;
    width: 80%;
    height: 100%;
    .text {
        position: relative;
        left: 24%;
        text-align: center;
        width: 400px;
        font-size: 30px;
        color: $light;
    }
    @media (max-width:700px) {
        .text{
            left: 3%;
        }
    }
    @media (max-width:390px) {
        .text{
            left: -20%;
            font-size: 20px;
            width: 390px;
        }
    }
    @media (max-width:390px) {
        left:10%;
    }
}