@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "./setting";

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

// .josefin-sans-<uniquifier> {
//     font-family: "Josefin Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #eee;
}



.dropdown {
    display: inline-block;
    position: relative;

    .drp-content {
        max-width: 180px;
        position: absolute;
        box-shadow: 0 8px 16px lightgray;
        top: 37px;
        left: -10px;
        display: none;

        p {
            padding: 10px 20px;
            background-color: $violet-dark;
            color: $black;
            font-weight: normal;
            font-family: sans-serif;

            &:hover {
                background-color: $violet;
                color: $light;
            }
        }
    }

    &:hover {
        .drp-content {
            display: block;
        }
    }
}

.loadingAnimation {
    background-color: rgba(0, 0, 0, 0.415);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    backdrop-filter: blur(10px);
    user-select: none;

    .Alltriangle {
        width: 220px;
        height: 200px;
        position: relative;
        border-radius: 30%;
        left: 44%;
        top: 32%;
        box-shadow: 10px 10px 10px 10px orange,
            -10px -10px -10px 10px orange;
        animation: loadingAnim linear 5s infinite;

        .triangle1 {
            width: 100px;
            height: 100px;
            background-color: orange;
            border-radius: 50%;
            border: 10px solid rgba(0, 0, 0, 0.145);
            position: absolute;
            top: 52%;
            left: 0;
            box-shadow: 1px 1px 6px 1px orange;
        }

        .triangle2 {
            width: 100px;
            height: 100px;
            background-color: orange;
            border-radius: 50%;
            border: 10px solid rgba(0, 0, 0, 0.145);
            outline: none;
            position: absolute;
            left: 26%;
            box-shadow: 1px 1px 6px 1px orange;
        }

        .triangle3 {
            width: 100px;
            height: 100px;
            background-color: orange;
            border-radius: 50%;
            border: 10px solid rgba(0, 0, 0, 0.145);
            outline: none;
            position: absolute;
            top: 52%;
            right: 0;
            box-shadow: 1px 1px 6px 1px orange;
        }
    }
}

@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}